.mainCont {
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
  .inputCont {

    margin: 10px;
    /* width: 50%; */
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }
  
.leftButton {
margin-right: 10px;
}

.rightButton {
margin-left: 10px;
}      