<div class="mainCont">
    <div class="mat-display-2">Create new Teacher </div>
          <div class="row inputCont">
            <mat-form-field class="col-sm-12">
            <mat-label>Enter your teacher name</mat-label>
            <input type="text" matInput placeholder="for ex.first" [(ngModel)]="teacher.name">
           </mat-form-field>
           <mat-form-field class="col-sm-6">
            <mat-label>Select your class</mat-label>
            <mat-select [(ngModel)]="teacher.class">
                <mat-option *ngFor="let class of classes" [value]="class">
                    {{class.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
         </div>
  
  
          <button class="leftButton" mat-raised-button color="primary" (click)="createClass()">Create</button>
          <button class="rightButton" mat-raised-button color="primary" (click)="back()">Back</button>
    
  </div>