<div id="header" class="mat-display-2">Classes</div>

<table style="width: 100%;margin: 10px;" mat-table [dataSource]="classes" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="select(element.id)">Select</button>
      <button mat-raised-button color="warn" (click)="delete(element.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'name', 'action']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'action'];"></tr>
</table>

<div id="btn3">
  <button mat-raised-button color="primary" (click)="add()">create</button>
</div>
<div id="btn2">
  <button mat-raised-button color="primary" (click)="student()">Back</button>

</div>
<button (onClick)="redirect()">redirect to login</button>