.navbar{
    justify-content: space-between;
}
.navbar :active{
    color:black;
  }
button{
    padding-right: 1rem;
    display: inline-block;
    text-align: center;
}
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  .btn :active{
    color:black;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .active, .btn:hover {
    background-color: rgb(25, 10, 109);
    color: white;
  }
  
  form button {
    background: white;
  }
  .btnclass{
    text-align: center;
    display: inline-block;
  }