<mat-toolbar color="primary" class="navbar">
    <div>School</div>
    <div>
        <button class="btnteacher" routerLinkActive="active" [routerLink]="[' ']" color="basic"
            mat-button>Contact us!</button>
      <button *ngIf="!auth.isLoggedIn" routerLinkActive="active" [routerLink]="['register']" color="basic" mat-button>Register</button>
        <button *ngIf="!auth.isLoggedIn" routerLinkActive="active" [routerLink]="['login']" color="basic" mat-button>Login</button>
        <button *ngIf="auth.isLoggedIn" color="basic" (click)="logout()" mat-button>Logout</button>
    </div>

</mat-toolbar>

<router-outlet></router-outlet>