#inputfield1{
    text-align: center;
    word-spacing: 3px;
}
#header{
  margin-top: 5%;
  text-align: center;
}
.bttnn11{
    text-align: center;
}
.bttnn{
  text-align: center;
  
  margin-left: 3%;
  
  }
  #btnstu2{
    text-align: center;
    margin-top: -34px;
  margin-left: -15%;
  }




  .mainCont {
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .inputCont {
    width: 100%;
    margin: 10px;
  }
  
  .leftButton {
    margin-right: 10px;
  }
  
  .rightButton {
    margin-left: 10px;
  }
  