<div class="mainCont">
    <div class="mat-display-2">Create new Student</div>

    <div class="row inputCont">
        <mat-form-field class="col-sm-6">
            <mat-label>Enter your Name</mat-label>
            <input type="text" matInput placeholder="Enter your name" [(ngModel)]="student.name">
        </mat-form-field>
        <mat-form-field class="col-sm-6">
            <mat-label>Enter your Age</mat-label>
            <input type="text" matInput placeholder="Enter your Age" [(ngModel)]="student.age">
        </mat-form-field>
        <mat-form-field class="col-sm-6">
            <mat-label>Select your class</mat-label>
            <mat-select [(ngModel)]="student.class">
                <mat-option *ngFor="let class of classes" [value]="class">
                    {{class.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button class="leftButton" mat-raised-button color="primary" (click)="createStudent()">Create</button>
    <button class="rightButton" mat-raised-button color="primary" (click)="back()">Back</button>
</div>