<div class="mainCont">
    <div class="mat-display-2">Register new account </div>
    <div class="row inputCont">
        <mat-form-field class="col-sm-6" [formGroup]="loginForm">
            <mat-label>Enter your Email</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>

        <mat-form-field class="col-sm-6" [formGroup]="loginForm">
            <mat-label>Enter your Name</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="col-sm-6" [formGroup]="loginForm">
            <mat-label>Enter your Password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
    </div>

    <button class="leftButton" mat-raised-button color="primary" (click)="submit()">Submit</button>